@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v7/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

*{ @include reset; }
body,html{ @include init; }

.atomLoader{
	width: 100vw;
	height: 100vh;
	z-index: 999;
	@include gradient(radial, (#fff, #2f2f2f));	
	@include center-absolute(fixed);

	.contentAtoms{
		width: 80px;
		height: 80px;
		// @include animation(rotate 5s infinite linear);
		@include center-absolute(fixed);
		
		&:after{
			width: 25%;
			height: 25%;
			@include center-absolute(absolute);
			@include gradient(radial, (center, #323232, #111));
			@include border-radius(50%);
			@include box-shadow(0 0 5px rgba(0,0,0,.5));
			@include animation(backgroundAtom 1000ms infinite linear);
			content: '';
		}
		
		&:before{
			content: 'Loading...';
			position: absolute;
			top: 105%;
			left: 0;
			text-align: center;
			font-family: 'Pacifico', Helvetica;
			width: 100%;
			overflow: hidden;
			// @include animation(widthText 500ms infinite linear);
		}
	}

	.atom{
		width: 50px;
		height: 100%;
		background: rgba(255,255,255,0);
		@include center-absolute(absolute);
		@include border-radius(50%);
		border: solid thin rgba(0,0,0,.2);

		&:before{
			position: absolute;
			width: 12px;
			height: 12px;
			content: '';
			background: #323232;
			@include gradient(linear, (left, #323232, #111));
			@include center-absolute(absolute);
			@include border-radius(50%);
			@include box-shadow(0 0 5px rgba(255,255,255,.5) inset);
		}

		&:nth-child(1){
			&:before{
				@include animation(point 1500ms -1000ms linear infinite);
			}
		}
		&:nth-child(2){
			@include transform(rotate(60deg));
			
			&:before{
				@include animation(point 1800ms -2000ms linear infinite reverse);
			}
		}
		&:nth-child(3){
			@include transform(rotate(-60deg));
			
			&:before{
				@include animation(point 1300ms -3000ms linear infinite reverse);
			}
		}
	}
}

// Point animation
@-webkit-keyframes point{
	0%, 100%{ @include transform(translate3d(-25px, 0, 0)); }
	7.6%{ @include transform(translate3d(-22px, -15px, 0)); }
	15.2%{ @include transform(translate3d(-19px, -30px, 0)); }
	22.7%{ @include transform(translate3d(-0px, -42px, 0)); }
	30.4%{ @include transform(translate3d(19px, -30px, 0)); }
	38%{ @include transform(translate3d(22px, -15px, 0)); }
	45.6%{ @include transform(translate3d(25px, 0px, 0)); }
	53.2%{ @include transform(translate3d(22px, 15px, 0)); }
	60.8%{ @include transform(translate3d(19px, 30px, 0)); }
	68.4%{ @include transform(translate3d(0px, 42px, 0)); }
	76%{ @include transform(translate3d(-19px, 30px, 0)); }
	83.6%{ @include transform(translate3d(-22px, 15px, 0)); }
}
@-moz-keyframes point{
	0%, 100%{ @include transform(translate3d(-25px, 0, 0)); }
	7.6%{ @include transform(translate3d(-22px, -15px, 0)); }
	15.2%{ @include transform(translate3d(-19px, -30px, 0)); }
	22.7%{ @include transform(translate3d(-0px, -42px, 0)); }
	30.4%{ @include transform(translate3d(19px, -30px, 0)); }
	38%{ @include transform(translate3d(22px, -15px, 0)); }
	45.6%{ @include transform(translate3d(25px, 0px, 0)); }
	53.2%{ @include transform(translate3d(22px, 15px, 0)); }
	60.8%{ @include transform(translate3d(19px, 30px, 0)); }
	68.4%{ @include transform(translate3d(0px, 42px, 0)); }
	76%{ @include transform(translate3d(-19px, 30px, 0)); }
	83.6%{ @include transform(translate3d(-22px, 15px, 0)); }
}
@keyframes point{
	0%, 100%{ @include transform(translate3d(-25px, 0, 0)); }
	7.6%{ @include transform(translate3d(-22px, -15px, 0)); }
	15.2%{ @include transform(translate3d(-19px, -30px, 0)); }
	22.7%{ @include transform(translate3d(-0px, -42px, 0)); }
	30.4%{ @include transform(translate3d(19px, -30px, 0)); }
	38%{ @include transform(translate3d(22px, -15px, 0)); }
	45.6%{ @include transform(translate3d(25px, 0px, 0)); }
	53.2%{ @include transform(translate3d(22px, 15px, 0)); }
	60.8%{ @include transform(translate3d(19px, 30px, 0)); }
	68.4%{ @include transform(translate3d(0px, 42px, 0)); }
	76%{ @include transform(translate3d(-19px, 30px, 0)); }
	83.6%{ @include transform(translate3d(-22px, 15px, 0)); }
}

// background atom
@-webkit-keyframes backgroundAtom{
	0%, 100%{ @include gradient(radial, (center, #323232, #111)); }
	50%{ @include gradient(radial, (center, #111, #323232)); }
}
@-moz-keyframes backgroundAtom{
	0%, 100%{ @include gradient(radial, (center, #323232, #111)); }
	50%{ @include gradient(radial, (center, #111, #323232)); }
}
@keyframes backgroundAtom{
	0%, 100%{ @include gradient(radial, (center, #323232, #111)); }
	50%{ @include gradient(radial, (center, #111, #323232)); }
}